<div class="div-principal" fxLayout="column" fxLayoutAlign="center center">
    <div fxLayout="row" fxLayoutAlign="center center">
        <div class="titulo">
            <h1>Como podemos te ajudar?</h1>
        </div>
    </div>

    <div fxLayout="row" fxLayoutAlign="center center">
        <div class="subtitulo">
            <p>Vídeos em caso de dúvidas
            </p>
        </div>
    </div>
    <div class="video">
        <p>Título: {{listaInformacoes[0].titulo}}</p>
        <p>Descrição: {{listaInformacoes[0].descricao}}</p>
        <iframe width="420" height="315" src="https://www.youtube.com/embed/NXBTQ6U4UYo">
        </iframe>
    </div>

    <div class="video">
        <p>Título: {{listaInformacoes[1].titulo}}</p>
        <p>Descrição: {{listaInformacoes[1].descricao}}</p>
        <iframe width="420" height="315" src="https://www.youtube.com/embed/Qp7TojA8OdY">
        </iframe>
    </div>

    <div class="video">
        <p>Título: {{listaInformacoes[2].titulo}}</p>
        <p>Descrição: {{listaInformacoes[2].descricao}}</p>
        <iframe width="420" height="315" src="https://www.youtube.com/embed/X3Ea_fXogYE">
        </iframe>
    </div>
</div>